.departure .time.cancelled {
    text-decoration: line-through;
}

.departure .delay {
    padding-left: 10px;
    text-align: center;
}

.departure .delay.color {
    color: red;
}

.departure .nodelay {
    padding-left: 10px;
    text-align: center;
}

.departure .nodelay.color {
    color: greenyellow;
}

.departure .ban {
    width: 1.25em;
    height: 1em;
    vertical-align: -0.125em;
    overflow: visible;
}

.departure .number {
    padding-left: 10px;
}

.departure .direction {
    padding-left: 10px;
    text-align: left;
}
